@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-arabic: var(--font-neo-sans-arabic);
  --font-family-almarai: var(--font-almarai), sans-serif;
  /* Colors */
  --color-text: #222222;

  --breakpoint-3xs: 370px;
  --breakpoint-2xs: 414px;
  --breakpoint-xs: 428px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 820px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-2xxl: 1680px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2260px;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

button:hover {
  cursor: pointer;
}

.fade-animation {
  animation: fade 2s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #4A3F3533;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4A3F35;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}