@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-arabic: var(--font-neo-sans-arabic);
  --font-family-almarai: var(--font-almarai), sans-serif;
  /* Colors */
  --color-text: #222222;

  --breakpoint-3xs: 370px;
  --breakpoint-2xs: 414px;
  --breakpoint-xs: 428px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 820px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-2xxl: 1680px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2260px;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-select img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
  width: 100%;
  height: auto;
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

button:hover {
  cursor: pointer;
}

.fade-animation {
  animation: fade 2s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #4A3F3533;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4A3F35;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.banner-clip-path {
  clip-path: polygon(87% 0, 0 100%, 100% 100%);
}

.categoryCard-clip-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 65% 100%, 62% 96%, 59% 90%, 57% 83%, 54% 77%, 50% 75%, 46% 77%, 43% 83%, 41% 90%, 38% 96%, 35% 100%, 0% 100%)
}

.product-clip-path {
  clip-path: polygon(0% 0%, 3% 1%,3% 1%, 4% 6%, 5% 9.5%, 7% 12%, 7% 12%, 9% 12%, 11% 8.5%, 12% 5%, 13% 2%, 14% 0%, 100% 0%, 100% 100%, 0% 100%)
}